<html>
<head lang="en">
  <meta charset="UTF-8">
  <!DOCTYPE html>
    {% include 'report-templates/styles/fonts.html' %}
    {% include 'report-templates/styles/layout.html' %}
    {% include 'report-templates/styles/header.html' %}
    {% include 'report-templates/styles/footer.html' %}
</head>
<body>
    {% include 'report-templates/eft/eft_instructions_header.html' %}
    <div class="mb-24 mt-n48 inner-wrap">
      <p>Pay your BC Registries and Online Services statement by Electronic Funds Transfer (EFT)</p>
    </div>
    {% include 'report-templates/eft/eft_instructions.html' %}
    {% include 'report-templates/eft/eft_refund_process.html' %}
    {% include 'report-templates/eft/eft_instructions_footer.html' %}
</body>
</html>
