<div>
    <table class="main-table statement-totals">
        {% if payment_method in ['EFT', 'PAD'] and data and statementSummary %}
            <tr>
              <td colspan="2">
                  <div class="section-title mb-0">Previous Statement</div>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                  <div class="total-elements-no-border">
                      Previous Balance:
                      <span class="total-elements-price">${{ statementSummary.lastStatementTotal if statementSummary.lastStatementTotal else '0.00' }}</span>
                  </div>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                  <div class="total-elements-no-border statement-subline">
                      Payments received ({{ statementSummary.latestStatementPaymentDate or statement.duration }})
                      <span class="total-elements-price">{{ '$0.00' if not statementSummary.lastStatementPaidAmount or statementSummary.lastStatementPaidAmount == '0.00' else '-$' + statementSummary.lastStatementPaidAmount }}</span>
                  </div>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <div class="total-elements-bottom-border font-bold">
                  Balance Forward (From {{ statement.toDate }}):
                  <span class="total-elements-price font-bold">${{ statementSummary.balanceForward }}</span>
                </div>
              </td>
            </tr>
        {% endif %}
        <tr>
            <td colspan="2">
                <div class="section-title mb-0">Current Statement</div>
            </td>
        </tr>
        <tr>
          <td colspan="2">
              <div class="total-elements-no-border">
                  Fees:
                  <span class="total-elements-price">${{ data.fees if data else '0.0' }}</span>
              </div>
          </td>
        </tr>
        <tr>
          <td colspan="2">
              <div class="total-elements-no-border">
                  Service Fees:
                  <span class="total-elements-price">${{ data.serviceFees if data else '0.0' }}</span>
              </div>
          </td>
        </tr>
        <tr>
          <td colspan="2">
              <div class="total-elements-no-border">
                  GST (Reg Number 107864738):
                  <span class="total-elements-price">${{ data.gst if data else '0.0' }}</span>
              </div>
          </td>
        </tr>
        {% if data and data.countedRefund != '0.00' and payment_method != 'PAD' %}
          {% set refund_label = 'Credits received' 
              if payment_method in ['ONLINE_BANKING'] 
              else 'Refunds received' %}
          <tr>
              <td colspan="2">
                  <div class="total-elements-no-border">
                      {{ refund_label }} (from {{ statement.duration }}):
                      <span class="total-elements-price">{{  '$0.00' if not data or data.countedRefund == '0.00' else '-$' + data.countedRefund  }}</span>
                  </div>
              </td>
          </tr>
        {% endif %}
        {% if data and data.creditsApplied and data.creditsApplied != "0.00" and payment_method in ['PAD', 'ONLINE_BANKING']  %}
        <tr>
          <td colspan="2">
              <div class="total-elements-no-border">
                Credits applied (from {{statement.duration}}):
                  <span class="total-elements-price">{{ '$0.00' if not data or data.creditsApplied == '0.00' else '-$' + data.creditsApplied }}</span>
              </div>
          </td>
        </tr>
        {% endif %}
        {% if payment_method == 'PAD' %}
        <tr>
          <td colspan="2">
              <div class="total-elements-no-border font-bold">
                  Current Statement Total:
                  <span class="total-elements-price font-bold">${{ data.totals if data else '0.0' }}</span>
              </div>
          </td>
        </tr>
            <tr>
              <td colspan="2">
                <div class="total-elements-bottom-border font-bold">
                  Pre-Authorized Debit Amount Processed:
                  <span class="total-elements-price font-bold"> {{ '$0.00' if not data or data.paid == '0.00' else '-$' + data.paid }}</span>
                </div>
              </td>
            </tr>
        {% endif %}
        {% if payment_method == 'EFT' %}
        <tr>
          <td colspan="2">
              <div class="total-elements-bottom-border font-bold">
                  Current Statement Total:
                  <span class="total-elements-price font-bold">${{ data.totals if data else '0.0' }}</span>
              </div>
          </td>
        </tr>
        {% endif %}
        {% if data and data.due and payment_method in ['EFT', 'PAD'] %}
          <tr>
              <td colspan="2">
                  <div class="total-elements font-bold" style="border-bottom: none;">
                    Total Amount Due:
                    <span class="total-elements-price font-bold">${{ data.due }}</span>
                  </div>
                  {% if payment_method == 'EFT' %}
                    <div class="total-elements-last-row">
                      Payment Due Date:
                      <span class="total-elements-price"> {{ data.dueDate }}</span>
                    </div>
                  {% else %}
                    <div class="total-elements-last-row">
                      Will be withdrawn within 1-3 business days after the transaction date.
                    </div>
                  {% endif %}
              </td>
          </tr>
        {% endif %}
        {% if payment_method == 'EFT' and data %}
            {% if statement.isInterimStatement %}
                <tr>
                    <td colspan="2">
                        <div class="total-elements font-bold" style="border-bottom: none;">
                            Total Amount Paid:
                            <span class="total-elements-price font-bold">${{ data.paid }}</span>
                        </div>
                        {%  if statementSummary.latestStatementPaymentDate %}
                        <div class="total-elements font-14"  style="border-bottom: none;">Paid on {{ statementSummary.latestStatementPaymentDate }}</div>
                        {% endif %}
                    </td>
                </tr>
            {% endif %}
        {% endif %}
        {% if payment_method in ['DIRECT_PAY', 'CC'] %}
          <tr>
            <td colspan="2">
                <div class="total-elements-top-border font-bold">
                    CREDIT CARD TOTAL:
                    <span class="total-elements-price font-bold">${{ data.totals if data else '0.0' }}</span>
                </div>
                <div class="total-elements-last-row">
                  Fees charged to credit card
                </div>
            </td>
          </tr>
        {% elif payment_method == 'ONLINE_BANKING' %}
          <tr>
            <td colspan="2">
                <div class="total-elements-top-border font-bold">
                    ONLINE BANKING TOTAL:
                    <span class="total-elements-price font-bold">${{ data.totals if data else '0.0' }}</span>
                </div>
                <div class="total-elements-last-row">
                  Fees paid by online banking
                </div>
            </td>
          </tr>
        {% elif payment_method == 'DRAWDOWN' %}
          <tr>
            <td colspan="2">
                <div class="total-elements-top-border font-bold">
                    BC ONLINE TOTAL:
                    <span class="total-elements-price font-bold">${{ data.totals if data else '0.0' }}</span>
                </div>
                <div class="total-elements-last-row">
                  Fees for BC Registries and Online Services are deducted from the BC Online account.
                </div>
            </td>
          </tr>
        {% endif %}      
    </table>
    <table class="{% if payment_method in ['EFT', 'PAD'] %}page-break-before{% endif %}">
        <tr>
            <td colspan="2">
                <div class="section-title no-border">
                    Transactions from {{ statement.duration }}
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="section-subtitle">
                    Number of Transactions: {{ transactions|length }}
                </div>
            </td>
        </tr>
    </table>
    {% if transactions %}
    <table class="transaction-table">
        <thead>
        <th style="width: 120px;">Product Purchased</th>
        <th style="width: 60px;">Folio</th>
        <th class="two-line-head" style="width: 120px;">Date</th>
        <th style="width: 60px;">Fee</th>
        <th class="two-line-head" style="width: 70px;">Service Fee</th>
        <th style="width: 60px;">GST</th>
        <th  style="width: 40px;">Total</th>
        </thead>
        {% for row in transactions %}
            <tr>
                <td class="product-purchased">
                    {% for product in row.products %}
                        <div class="font-bold">{{ product }}</div>
                    {% endfor %}
                    {% if row.details %}
                      <div class="transaction-details">
                          {% for detail in row.details %}
                              <div>{{ detail }}</div>
                          {% endfor %}
                      </div>
                    {% endif %}
                </td>
                <td>{{ row.folio }}</td>
                <td>{{ row.createdOn }}</td>
                <td>${{ row.fee }}</td>
                <td>${{ row.serviceFee }}</td>
                <td>${{ row.gst }}</td>
                <td>
                    ${{ row.total }}
                    {% if row.statusCode == 'APPROVED' and payment_method == 'PAD' %}
                    <br>(Pending)
                    {% endif %}
                </td>
            </tr>
            {% if row.appliedCredits %}
                <tr class="no-top-border">
                  <td>
                      <div>Account Credit Applied</div>
                  </td>
                  <td></td>
                  <td></td>
                  <td>
                    {% if row.isFullAppliedCredits %}
                        <div>{{ '$0.00' if row.fee == '0.00' else '-$' + row.fee }}</div>
                    {% else %}
                      <div>{{ '$0.00' if row.appliedCreditsAmount == '0.00' else '-$' + row.appliedCreditsAmount }}</div>
                    {% endif %}
                  </td>
                  <td>
                      {% if row.isFullAppliedCredits %}
                          <div>{{ '$0.00' if row.serviceFee == '0.00' else '-$' + row.serviceFee }}</div>
                      {% endif %}
                  </td>
                  <td>
                      {% if row.isFullAppliedCredits %}
                          <div>{{ '$0.00' if row.gst == '0.00' else '-$' + row.gst }}</div>
                      {% endif %}
                  </td>
                  <td>
                      <div>{{ '$0.00' if row.appliedCreditsAmount == '0.00' else '-$' + row.appliedCreditsAmount }}</div>
                  </td>
                </tr>
            {% endif %}
            {% set status_text = {
              'CANCELLED': 'Service Cancelled',
              'REFUNDED': 'Refunded',
              'CREDITED': 'Credited',
              'PARTIALLY_REFUNDED': 'Partially Refunded',
              'PARTIALLY_CREDITED': 'Partially Credited'
            } %}          
            {% if row.statusCode in status_text %}
                <tr>
                    <td class="product-purchased">
                        {% for product in row.products %}
                            <div class="font-bold">{{ product }} ({{ status_text[row.statusCode] }})</div>
                        {% endfor %}
                        {% if row.details %}
                          <div class="transaction-details">
                              {% for detail in row.details %}
                                  <div>{{ detail }}</div>
                              {% endfor %}
                          </div>
                        {% endif %}
                        {% if row.statusCode in ['REFUNDED', 'CREDITED', 'PARTIALLY_REFUNDED', 'PARTIALLY_CREDITED'] %}
                          <div class="transaction-details">Refund Transaction ID: {{ row.refundId }}</div>
                        {% endif %}
                    </td>
                    <td>{{ row.folio }}</td>
                    <td>{{ row.refundDate }}</td>
                    <td>{{ '$0.00' if row.refundFee == '0.00' else '-$' + row.refundFee }}</td>
                    <td>{{ '$0.00' if row.refundServiceFee == '0.00' else '-$' + row.refundServiceFee }}</td>
                    <td>{{ '$0.00' if row.refundGst == '0.00' else '-$' + row.refundGst }}</td>
                    <td>{{ '$0.00' if row.refundTotal == '0.00' else '-$' + row.refundTotal }}</td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
    <tr>
      <td colspan="2">
          <div class="transaction-summary-row font-bold">
              Current Statement Total:
              <span class="total-elements-price font-bold">${{ data.totals if data else '0.0' }}</span>
          </div>
      </td>
    </tr>
    {% endif %}
    <table class="main-table">
        {% if include_service_provided and payment_method == 'PAD' %}
        <tr>
            <td colspan="2">
                    <div class="inner-wrap">
                        <p>This statement lists only the products and services provided. To view the status of all transactions, please refer to the transaction page in your account settings.</p>
                        <p>The 'TOTAL AMOUNT DUE' indicates the amount that will be automatically debited from your PAD bank account within 1-3 business days. Please ensure sufficient funds are available. If a payment fails, a non-sufficient funds (NSF) fee of $30.00 may be applied for each failed attempt.</p>
                    </div>
                </td>
            </tr>
        {% else %}
        <tr>
          <tr>
            <td colspan="2">
                    <div class="inner-wrap">
                        <p>This statement lists only the products and services provided. To view the status of all transactions, please refer to the transaction page in your account settings.</p>
                    </div>
                </td>
            </tr>
        {% endif %}
    </table>
</div>
