<div>
    <table>
        <tr>
            <td colspan="2">
                <div class="section-title no-border">
                    Transactions
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div class="section-subtitle">
                    Number of Transactions: {{ transactions|length }}
                </div>
            </td>
        </tr>
    </table>
    {% if transactions %}
    <table class="transaction-table">
        <thead>
        <th style="width: 120px;">Product Purchased</th>
        <th style="width: 60px;">Folio</th>
        <th class="two-line-head" style="width: 120px;">Date</th>
        <th style="width: 60px;">Fee</th>
        <th class="two-line-head" style="width: 70px;">Service Fee</th>
        <th style="width: 60px;">GST</th>
        <th  style="width: 40px;">Total</th>
        </thead>
        {% for row in transactions %}
            <tr>
                <td class="product-purchased">
                    {% for product in row.products %}
                    <div class="font-bold">{{ product }}</div>
                    {% endfor %}
                    {% if row.details %}
                    <div class="transaction-details">
                        {% for detail in row.details %}
                        <div>{{ detail }}</div>
                        {% endfor %}
                    </div>
                    {% endif %}
                </td>
                <td>{{ row.folio }}</td>
                <td>{{ row.created_on }}</td>
                <td>${{ row.fee }}</td>
                <td>${{ row.service_fee }}</td>
                <td>${{ row.gst }}</td>
                <td>${{ row.total }}</td>
            </tr>
            {% endfor %}
    </table>
    {% endif %}
    <table class="main-table">
        <tr>
            <td colspan="2">
                <div class="section-title mb-0">
                    Totals
                </div>
            </td>
        </tr>
        {% if payment_method == 'EFT' %}
            <tr>
                <td colspan="2">
                    <div class="total-elements font-bold">
                        Statement Total:
                        <span class="total-elements-price font-bold">${{ data.totals_summary }}</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="total-elements">
                        Last Statement Total:
                        <span class="total-elements-price">${{ statementSummary.lastStatementTotal }}</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div class="total-elements">
                        Payment Received for Last Statement:
                        <span class="total-elements-price">-${{ statementSummary.lastStatementPaidAmount }}</span>
                    </div>
                </td>
            </tr>
            {% if statementSummary.cancelledTransactions %}
            <tr>
                <td colspan="2">
                    <div class="total-elements">
                        Cancelled Transactions:
                        <span class="total-elements-price">-${{ statementSummary.cancelledTransactions }}</span>
                    </div>
                </td>
            </tr>
            {% endif %}

            {% if statement.is_interim_statement %}
                <tr>
                    <td colspan="2">
                        <div class="total-elements font-bold" style="border-bottom: none;">
                            Total Amount Paid:
                            <span class="total-elements-price font-bold">${{ data.paid_summary }}</span>
                        </div>
                        {%  if statementSummary.latestStatementPaymentDate %}
                        <div class="total-elements font-14"  style="border-bottom: none;">Paid on {{ statementSummary.latestStatementPaymentDate }}</div>
                        {% endif %}
                    </td>
                </tr>
            {% endif %}
            <tr>
                <td colspan="2">
                    <div class="total-elements font-bold" style="border-bottom: none;">
                        Total Amount Owing:
                        <span class="total-elements-price font-bold">${{ data.due_summary }}</span>
                    </div>
                    {% if not statement.is_interim_statement %}
                        <div class="total-elements font-14"  style="border-bottom: none;">Payment Due Date: {{ statementSummary.dueDate }}</div>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            {% if total.fees %}
            <tr>
                <td colspan="2">
                    <div class="total-elements font-bold">
                            Total Amount:
                            <span class="total-elements-price font-bold">${{ '%.2f' % (data.totals_summary if data else 0.0) }}</span>
                    </div>
                </td>
            </tr>
            {% endif %}
            <tr>
                <td colspan="2">
                    <div class="total-elements font-bold">
                        Total Amount Paid:
                        <span class="total-elements-price font-bold">${{ '%.2f' % (data.paid_summary if data else 0.0) }}</span>
                    </div>
                </td>
            </tr>
            {% if payment_method == 'DIRECT_PAY' or payment_method == 'CC' or payment_method == 'EFT' or payment_method == 'ONLINE_BANKING' %}
            <tr>
                <td colspan="2">
                    <div class="total-elements" style="border-bottom: none;">
                        Total Amount Due:
                        <span class="total-elements-price">${{ '%.2f' % (data.due_summary if data else 0.0) }}</span>
                    </div>
                </td>
            </tr>
            {% endif %}
        {% endif %}
        {% if include_service_provided and payment_method == 'PAD' %}
        <tr>
            <td colspan="2">
                    <div class="inner-wrap">
                        <p>This statement lists only the products and services provided. To view the status of all transactions, please refer to the transaction page in your account settings.</p>
                        <p>The 'Total Amount Owing' indicates the amount that will be automatically debited from your PAD bank account within 1-3 business days. Please ensure sufficient funds are available. If a payment fails, a non-sufficient funds (NSF) fee of $30.00 may be applied for each failed attempt.</p>
                    </div>
                </td>
            </tr>
        {% endif %}
        {% if include_service_provided and payment_method in ('ONLINE_BANKING', 'CC', 'BCOL', 'DRAWDOWN', 'DIRECT_PAY', 'INTERNAL') %}
        <tr>
          <tr>
            <td colspan="2">
                    <div class="inner-wrap">
                        <p>This statement lists only the products and services provided. To view the status of all transactions, please refer to the transaction page in your account settings.</p>
                    </div>
                </td>
            </tr>
        {% endif %}
    </table>
</div>
