[[macros.html]]

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ meta_title }}</title>
    <meta charset="UTF-8">
    <meta name="author" content="BC Registries and Online Services">
      {% if environment == '' %}
        [[stylePageRegistration.html]]
      {% else %}
        [[stylePageRegistrationDraft.html]]
      {% endif %}
      [[style.html]]
  </head>
  <body>
    <div class="container ml-3 mt-11">
    </div>
    <div class="container mt-11 ml-3">
      <div class="cover-data-bold">Document Record Statement</div>
      <div class="cover-data mt-4">
        {% if uploadCount > 0 and documents is defined and documents|length == uploadCount %}
          All documents were uploaded to document storage.
        {% elif uploadCount == 1 %}
          1 document was uploaded to document storage.
        {% elif uploadCount > 0 %}
          {{uploadCount}} documents have been uploaded to document storage.
        {% else %}
          No documents were uploaded to document storage.
        {% endif %}        
      </div>
      <div class="cover-data mt-4">
        <span class="cover-data-bold">Document ID:</span> {{ consumerDocumentId }}
      </div>
      <div class="cover-data">
        <span class="cover-data-bold">Entity ID:</span> {% if consumerIdentifier is defined %}{{consumerIdentifier}} {% else %} (Not Entered) {% endif %}
      </div>
      <div class="cover-data">
        <span class="cover-data-bold">Document Category:</span> {{documentClassDescription}}
      </div>
      <div class="cover-data">
        <span class="cover-data-bold">Document Type:</span> {{documentTypeDescription}}
      </div>
      <div class="cover-data">
        <span class="cover-data-bold">Filing Date:</span> {% if consumerFilingDateTime is defined %}{{consumerFilingDateTime}} {% else %} (Not Entered) {% endif %}
      </div>
      {% if scanningInformation is defined %}
        <div class="separator-section mt-3 mb-3"></div>
        <div class="cover-data">
          <span class="cover-data-bold">Scanning Information</span>
        </div>
        <div class="cover-data mt-3">
          <span class="cover-data-bold">Accession Number:</span> {% if scanningInformation.accessionNumber is defined %}  {{ scanningInformation.accessionNumber }} {% endif %}
        </div>
        <div class="cover-data">
          <span class="cover-data-bold">Batch ID:</span> {% if scanningInformation.batchId is defined %}  {{ scanningInformation.batchId }} {% endif %}
        </div>
        <div class="cover-data">
          <span class="cover-data-bold">Pages to Scan:</span> {% if scanningInformation.pageCount is defined %}  {{ scanningInformation.pageCount }} {% endif %}
        </div>
        <div class="cover-data">
          <span class="cover-data-bold">Scanned Date:</span> {{ scanningInformation.scanDateTime }}
        </div>
        <div class="cover-data">
          <span class="cover-data-bold">Author:</span> {% if scanningInformation.author is defined %}  {{ scanningInformation.author }} {% endif %}
        </div>
        <div class="separator-section mt-3 mb-3"></div>
      {% endif %}
      <div class="cover-data mt-4"><span class="cover-data-bold">Upload Date and Time:</span> {{ createDateTime }}</div>
      <div class="cover-data"><span class="cover-data-bold">Documents Uploaded:</span> {{uploadCount}}</div>
      <div class="cover-data-bold">Documents:</div>
      {% if documents is defined and uploadCount > 0 %}
        {% for doc in documents %}
            {% if doc.consumerFilename is defined %}<div class="cover-data">{{doc.consumerFilename}}</div>{% endif %}
        {% endfor %}
      {% endif %}
  </body>
</html>

